In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
geo = pd.read_csv('Geo_scores.csv')
instance = pd.read_csv('instance_scores.csv')
lambdawts = pd.read_csv('Lambda_wts.csv')
qsets = pd.read_csv('Qset_tats.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test_share.csv')

In [3]:
geo.head(2)

       id  geo_score
0   26674       4.48
1  204314       4.48

In [4]:
geo['id'].value_counts().head()

26674     5
149679    5
114110    5
24969     5
262179    5
Name: id, dtype: int64

In [5]:
geo.isnull().sum()/len(geo)*100

id           0.000000
geo_score    5.023964
dtype: float64

In [6]:
geo.shape

(1424035, 2)

In [7]:
instance.head()

       id  instance_scores
0  173444            -0.88
1  259378             1.50
2  161170             0.44
3  191161             0.76
4   34521            -0.84

In [8]:
instance['id'].value_counts().head()

173444    5
240342    5
147158    5
83677     5
127535    5
Name: id, dtype: int64

In [9]:
instance.isnull().sum()

id                 0
instance_scores    0
dtype: int64

In [10]:
lambdawts.head()

     Group  lambda_wt
0   Grp936       3.41
1   Grp347      -2.88
2   Grp188       0.39
3  Grp1053      -2.75
4    Grp56      -0.83

In [11]:
lambdawts['Group'].value_counts().head()

Grp936     1
Grp1128    1
Grp341     1
Grp63      1
Grp173     1
Name: Group, dtype: int64

In [12]:
lambdawts.isnull().sum()

Group        0
lambda_wt    0
dtype: int64

In [13]:
qsets.head()

       id  qsets_normalized_tat
0    9983                  2.41
1  266000                  3.10
2   77525                  1.03
3  160765                -11.63
4  138220                 -4.48

In [14]:
qsets['id'].value_counts().head()

9983      5
146106    5
133237    5
262326    5
79108     5
Name: id, dtype: int64

In [15]:
qsets.isnull().sum()

id                           0
qsets_normalized_tat    103201
dtype: int64

In [16]:
train.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Dem8,Dem9,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,0.680000,0.726667,0.606667,1.010000,0.933333,0.603333,0.686667,0.673333,-245.7500,0
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.716667,0.743333,0.680000,0.690000,0.560000,0.670000,0.553333,0.653333,-248.0000,0
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.690000,0.820000,0.600000,0.383333,0.763333,0.670000,0.686667,0.673333,-233.1250,0
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.720000,0.900000,0.680000,0.846667,0.423333,0.520000,0.846667,0.760000,-249.7775,0
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.603333,0.486667,0.693333,0.526667,0.520000,0.716667,0.706667,0.673333,-247.5775,0

In [17]:
train.isnull().sum()

id                0
Group             0
Per1              0
Per2              0
Per3              0
Per4              0
Per5              0
Per6              0
Per7              0
Per8              0
Per9              0
Dem1              0
Dem2              0
Dem3              0
Dem4              0
Dem5              0
Dem6              0
Dem7              0
Dem8              0
Dem9              0
Cred1             0
Cred2             0
Cred3             0
Cred4             0
Cred5             0
Cred6             0
Normalised_FNT    0
Target            0
dtype: int64

In [18]:
test.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Dem7,Dem8,Dem9,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT
0,146574,Grp229,-0.300000,1.540000,0.220000,-0.280000,0.570000,0.260000,0.700000,1.076667,...,0.786667,0.546667,0.313333,0.703333,0.813333,0.776667,0.796667,0.823333,0.783333,-249.7500
1,268759,Grp141,0.633333,0.953333,0.810000,0.466667,0.910000,0.253333,1.040000,0.550000,...,0.636667,0.770000,0.993333,0.536667,0.703333,0.806667,0.630000,0.673333,0.673333,-249.8125
2,59727,Grp188,1.043333,0.740000,0.860000,1.006667,0.583333,0.616667,0.630000,0.686667,...,0.626667,0.756667,0.953333,0.623333,0.753333,0.870000,0.596667,0.680000,0.670000,-248.1200
3,151544,Grp426,1.283333,0.300000,0.576667,0.636667,0.256667,0.543333,0.356667,0.663333,...,0.480000,0.460000,0.260000,0.800000,0.606667,0.456667,0.320000,0.676667,0.660000,-222.9875
4,155008,Grp443,1.186667,0.326667,0.476667,0.866667,0.436667,0.680000,0.476667,0.686667,...,0.706667,0.740000,0.823333,0.670000,0.896667,0.566667,0.546667,0.650000,0.663333,-196.2200

In [19]:
test.isnull().sum()

id                0
Group             0
Per1              0
Per2              0
Per3              0
Per4              0
Per5              0
Per6              0
Per7              0
Per8              0
Per9              0
Dem1              0
Dem2              0
Dem3              0
Dem4              0
Dem5              0
Dem6              0
Dem7              0
Dem8              0
Dem9              0
Cred1             0
Cred2             0
Cred3             0
Cred4             0
Cred5             0
Cred6             0
Normalised_FNT    0
dtype: int64

In [20]:
# missing data found in geo table and qsets table
# for simplicity, i am filling zero with missing data

In [21]:
geo.fillna(0, inplace=True)
qsets.fillna(0, inplace=True)

In [22]:
qsets.isnull().sum()

id                      0
qsets_normalized_tat    0
dtype: int64

In [23]:
geo = geo.groupby('id').mean()

In [24]:
geo.head()

    geo_score
id
0       -0.62
1        1.07
2        0.07
3        0.18
4        0.54

In [25]:
geo.shape

(284807, 1)

In [26]:
qsets.shape

(1424035, 2)

In [27]:
qsets = qsets.groupby('id').mean()

In [28]:
qsets

        qsets_normalized_tat
id
0                       0.21
1                      -0.11
2                       1.11
3                      -0.68
4                      -0.24
...                      ...
284802                  1.99
284803                 -0.03
284804                  0.31
284805                  0.51
284806                 -0.66

[284807 rows x 1 columns]

In [29]:
qsets.shape

(284807, 1)

In [30]:
instance.shape

(1424035, 2)

In [31]:
instance = instance.groupby('id').mean()

In [32]:
instance.shape

(284807, 1)

In [33]:
train.head(2)

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Dem8,Dem9,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.34,1.010000,...,0.680000,0.726667,0.606667,1.01,0.933333,0.603333,0.686667,0.673333,-245.75,0
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.81,0.783333,...,0.716667,0.743333,0.680000,0.69,0.560000,0.670000,0.553333,0.653333,-248.00,0

In [34]:
train['data']= 'train'

In [35]:
test['data']= 'test'

In [36]:
train.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Dem9,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target,data
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,0.726667,0.606667,1.010000,0.933333,0.603333,0.686667,0.673333,-245.7500,0,train
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.743333,0.680000,0.690000,0.560000,0.670000,0.553333,0.653333,-248.0000,0,train
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.820000,0.600000,0.383333,0.763333,0.670000,0.686667,0.673333,-233.1250,0,train
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.900000,0.680000,0.846667,0.423333,0.520000,0.846667,0.760000,-249.7775,0,train
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.486667,0.693333,0.526667,0.520000,0.716667,0.706667,0.673333,-247.5775,0,train

In [37]:
train.shape

(227845, 29)

In [38]:
test.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Dem8,Dem9,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,data
0,146574,Grp229,-0.300000,1.540000,0.220000,-0.280000,0.570000,0.260000,0.700000,1.076667,...,0.546667,0.313333,0.703333,0.813333,0.776667,0.796667,0.823333,0.783333,-249.7500,test
1,268759,Grp141,0.633333,0.953333,0.810000,0.466667,0.910000,0.253333,1.040000,0.550000,...,0.770000,0.993333,0.536667,0.703333,0.806667,0.630000,0.673333,0.673333,-249.8125,test
2,59727,Grp188,1.043333,0.740000,0.860000,1.006667,0.583333,0.616667,0.630000,0.686667,...,0.756667,0.953333,0.623333,0.753333,0.870000,0.596667,0.680000,0.670000,-248.1200,test
3,151544,Grp426,1.283333,0.300000,0.576667,0.636667,0.256667,0.543333,0.356667,0.663333,...,0.460000,0.260000,0.800000,0.606667,0.456667,0.320000,0.676667,0.660000,-222.9875,test
4,155008,Grp443,1.186667,0.326667,0.476667,0.866667,0.436667,0.680000,0.476667,0.686667,...,0.740000,0.823333,0.670000,0.896667,0.566667,0.546667,0.650000,0.663333,-196.2200,test

In [39]:
test.shape

(56962, 28)

In [40]:
all_data = pd.concat([train, test], axis=0)

In [41]:
all_data.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Dem9,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target,data
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,0.726667,0.606667,1.010000,0.933333,0.603333,0.686667,0.673333,-245.7500,0.0,train
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.743333,0.680000,0.690000,0.560000,0.670000,0.553333,0.653333,-248.0000,0.0,train
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.820000,0.600000,0.383333,0.763333,0.670000,0.686667,0.673333,-233.1250,0.0,train
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.900000,0.680000,0.846667,0.423333,0.520000,0.846667,0.760000,-249.7775,0.0,train
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.486667,0.693333,0.526667,0.520000,0.716667,0.706667,0.673333,-247.5775,0.0,train

In [42]:
all_data.tail()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Dem9,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target,data
56957,18333,Grp102,0.553333,1.043333,1.096667,0.686667,0.673333,0.340000,0.900000,0.643333,...,0.433333,0.660000,0.776667,0.610000,0.690000,0.750000,0.700000,-249.5050,NaN,test
56958,244207,Grp504,1.353333,0.616667,0.276667,0.783333,0.690000,0.650000,0.473333,0.670000,...,0.870000,0.683333,0.690000,0.640000,0.883333,0.663333,0.660000,-248.7525,NaN,test
56959,103277,Grp78,1.083333,0.433333,0.806667,0.490000,0.243333,0.316667,0.533333,0.606667,...,0.063333,0.753333,0.780000,0.603333,0.880000,0.643333,0.676667,-231.0500,NaN,test
56960,273294,Grp134,0.566667,1.153333,0.370000,0.616667,0.793333,0.226667,0.910000,0.696667,...,1.026667,0.626667,0.646667,0.566667,0.616667,0.713333,0.706667,-246.3150,NaN,test
56961,223337,Grp18,1.426667,0.110000,-0.006667,-0.200000,0.983333,1.870000,0.033333,0.963333,...,0.670000,0.770000,0.893333,0.586667,0.616667,0.683333,0.650000,-248.4500,NaN,test

In [43]:
all_data.shape

(284807, 29)

In [44]:
geo.head()

    geo_score
id
0       -0.62
1        1.07
2        0.07
3        0.18
4        0.54

In [45]:
# append geo dataset with all_data
all_data = pd.merge(all_data, geo, on='id', how='left')

In [46]:
all_data.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target,data,geo_score
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,0.606667,1.010000,0.933333,0.603333,0.686667,0.673333,-245.7500,0.0,train,0.22
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.680000,0.690000,0.560000,0.670000,0.553333,0.653333,-248.0000,0.0,train,-0.25
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.600000,0.383333,0.763333,0.670000,0.686667,0.673333,-233.1250,0.0,train,-0.95
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.680000,0.846667,0.423333,0.520000,0.846667,0.760000,-249.7775,0.0,train,0.49
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.693333,0.526667,0.520000,0.716667,0.706667,0.673333,-247.5775,0.0,train,0.85

In [47]:
# append instance dataset with all_data
# append qsets dataset with all_data
all_data = pd.merge(all_data, instance, on='id', how='left')

In [48]:
all_data.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target,data,geo_score,instance_scores
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,1.010000,0.933333,0.603333,0.686667,0.673333,-245.7500,0.0,train,0.22,-0.06
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.690000,0.560000,0.670000,0.553333,0.653333,-248.0000,0.0,train,-0.25,0.52
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.383333,0.763333,0.670000,0.686667,0.673333,-233.1250,0.0,train,-0.95,1.56
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.846667,0.423333,0.520000,0.846667,0.760000,-249.7775,0.0,train,0.49,0.70
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.526667,0.520000,0.716667,0.706667,0.673333,-247.5775,0.0,train,0.85,-0.47

In [49]:
all_data = pd.merge(all_data, qsets, on='id', how='left')

In [50]:
all_data.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target,data,geo_score,instance_scores,qsets_normalized_tat
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,0.933333,0.603333,0.686667,0.673333,-245.7500,0.0,train,0.22,-0.06,-0.70
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.560000,0.670000,0.553333,0.653333,-248.0000,0.0,train,-0.25,0.52,0.14
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.763333,0.670000,0.686667,0.673333,-233.1250,0.0,train,-0.95,1.56,-0.43
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.423333,0.520000,0.846667,0.760000,-249.7775,0.0,train,0.49,0.70,-0.31
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.520000,0.716667,0.706667,0.673333,-247.5775,0.0,train,0.85,-0.47,-0.63

In [51]:
lambdawts.head(2)

    Group  lambda_wt
0  Grp936       3.41
1  Grp347      -2.88

In [52]:
all_data['Group'].value_counts()

Grp108     1847
Grp184     1786
Grp70      1771
Grp36      1768
Grp42      1768
           ...
Grp730        1
Grp1253       1
Grp1378       1
Grp1364       1
Grp996        1
Name: Group, Length: 1400, dtype: int64

In [53]:
lambdawts['Group'].value_counts()

Grp936     1
Grp1128    1
Grp341     1
Grp63      1
Grp173     1
          ..
Grp337     1
Grp649     1
Grp1183    1
Grp46      1
Grp37      1
Name: Group, Length: 1400, dtype: int64

In [54]:
all_data = pd.merge(all_data, lambdawts, on='Group', how='left')

In [55]:
all_data.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Cred4,Cred5,Cred6,Normalised_FNT,Target,data,geo_score,instance_scores,qsets_normalized_tat,lambda_wt
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,0.603333,0.686667,0.673333,-245.7500,0.0,train,0.22,-0.06,-0.70,-0.13
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.670000,0.553333,0.653333,-248.0000,0.0,train,-0.25,0.52,0.14,0.66
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.670000,0.686667,0.673333,-233.1250,0.0,train,-0.95,1.56,-0.43,-0.51
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.520000,0.846667,0.760000,-249.7775,0.0,train,0.49,0.70,-0.31,0.72
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.716667,0.706667,0.673333,-247.5775,0.0,train,0.85,-0.47,-0.63,0.60

In [56]:
all_data.isnull().sum()

id                          0
Group                       0
Per1                        0
Per2                        0
Per3                        0
Per4                        0
Per5                        0
Per6                        0
Per7                        0
Per8                        0
Per9                        0
Dem1                        0
Dem2                        0
Dem3                        0
Dem4                        0
Dem5                        0
Dem6                        0
Dem7                        0
Dem8                        0
Dem9                        0
Cred1                       0
Cred2                       0
Cred3                       0
Cred4                       0
Cred5                       0
Cred6                       0
Normalised_FNT              0
Target                  56962
data                        0
geo_score                   0
instance_scores             0
qsets_normalized_tat        0
lambda_wt                   0
dtype: int64

In [57]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284807 entries, 0 to 284806
Data columns (total 33 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    284807 non-null  int64
 1   Group                 284807 non-null  object
 2   Per1                  284807 non-null  float64
 3   Per2                  284807 non-null  float64
 4   Per3                  284807 non-null  float64
 5   Per4                  284807 non-null  float64
 6   Per5                  284807 non-null  float64
 7   Per6                  284807 non-null  float64
 8   Per7                  284807 non-null  float64
 9   Per8                  284807 non-null  float64
 10  Per9                  284807 non-null  float64
 11  Dem1                  284807 non-null  float64
 12  Dem2                  284807 non-null  float64
 13  Dem3                  284807 non-null  float64
 14  Dem4                  284807 non-null  float64
 15  Dem5                  284807 non-null  float64
 16  Dem6                  284807 non-null  float64
 17  Dem7                  284807 non-null  float64
 18  Dem8                  284807 non-null  float64
 19  Dem9                  284807 non-null  float64
 20  Cred1                 284807 non-null  float64
 21  Cred2                 284807 non-null  float64
 22  Cred3                 284807 non-null  float64
 23  Cred4                 284807 non-null  float64
 24  Cred5                 284807 non-null  float64
 25  Cred6                 284807 non-null  float64
 26  Normalised_FNT        284807 non-null  float64
 27  Target                227845 non-null  float64
 28  data                  284807 non-null  object
 29  geo_score             284807 non-null  float64
 30  instance_scores       284807 non-null  float64
 31  qsets_normalized_tat  284807 non-null  float64
 32  lambda_wt             284807 non-null  float64
dtypes: float64(30), int64(1), object(2)
memory usage: 73.9+ MB

In [58]:
# Split the data into training and test basis the data variable

train = all_data[all_data['data']=='train']
test = all_data[all_data['data']=='test']

In [59]:
train.shape

(227845, 33)

In [60]:
test.shape

(56962, 33)

In [61]:
test.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Cred4,Cred5,Cred6,Normalised_FNT,Target,data,geo_score,instance_scores,qsets_normalized_tat,lambda_wt
227845,146574,Grp229,-0.300000,1.540000,0.220000,-0.280000,0.570000,0.260000,0.700000,1.076667,...,0.796667,0.823333,0.783333,-249.7500,NaN,test,0.25,-0.04,-0.43,0.76
227846,268759,Grp141,0.633333,0.953333,0.810000,0.466667,0.910000,0.253333,1.040000,0.550000,...,0.630000,0.673333,0.673333,-249.8125,NaN,test,0.43,-0.77,-0.62,0.18
227847,59727,Grp188,1.043333,0.740000,0.860000,1.006667,0.583333,0.616667,0.630000,0.686667,...,0.596667,0.680000,0.670000,-248.1200,NaN,test,1.32,0.11,-0.41,0.39
227848,151544,Grp426,1.283333,0.300000,0.576667,0.636667,0.256667,0.543333,0.356667,0.663333,...,0.320000,0.676667,0.660000,-222.9875,NaN,test,-2.11,0.33,0.37,1.80
227849,155008,Grp443,1.186667,0.326667,0.476667,0.866667,0.436667,0.680000,0.476667,0.686667,...,0.546667,0.650000,0.663333,-196.2200,NaN,test,-2.11,-0.37,-0.13,1.89

In [62]:
train.columns

Index(['id', 'Group', 'Per1', 'Per2', 'Per3', 'Per4', 'Per5', 'Per6', 'Per7',
       'Per8', 'Per9', 'Dem1', 'Dem2', 'Dem3', 'Dem4', 'Dem5', 'Dem6', 'Dem7',
       'Dem8', 'Dem9', 'Cred1', 'Cred2', 'Cred3', 'Cred4', 'Cred5', 'Cred6',
       'Normalised_FNT', 'Target', 'data', 'geo_score', 'instance_scores',
       'qsets_normalized_tat', 'lambda_wt'],
      dtype='object')

In [63]:
x_train = train.drop(['id','Group','Target','data'], axis=1)
y_train = train['Target']

In [64]:
test.columns

Index(['id', 'Group', 'Per1', 'Per2', 'Per3', 'Per4', 'Per5', 'Per6', 'Per7',
       'Per8', 'Per9', 'Dem1', 'Dem2', 'Dem3', 'Dem4', 'Dem5', 'Dem6', 'Dem7',
       'Dem8', 'Dem9', 'Cred1', 'Cred2', 'Cred3', 'Cred4', 'Cred5', 'Cred6',
       'Normalised_FNT', 'Target', 'data', 'geo_score', 'instance_scores',
       'qsets_normalized_tat', 'lambda_wt'],
      dtype='object')

In [65]:
x_test = test.drop(['id','Group','Target','data'], axis=1)
y_test = test['Target']

In [66]:
x_train.head()

,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,Per9,Dem1,...,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,geo_score,instance_scores,qsets_normalized_tat,lambda_wt
0,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,0.863333,0.460000,...,1.010000,0.933333,0.603333,0.686667,0.673333,-245.7500,0.22,-0.06,-0.70,-0.13
1,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,0.190000,0.470000,...,0.690000,0.560000,0.670000,0.553333,0.653333,-248.0000,-0.25,0.52,0.14,0.66
2,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,0.226667,0.660000,...,0.383333,0.763333,0.670000,0.686667,0.673333,-233.1250,-0.95,1.56,-0.43,-0.51
3,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,0.486667,1.096667,...,0.846667,0.423333,0.520000,0.846667,0.760000,-249.7775,0.49,0.70,-0.31,0.72
4,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,0.516667,0.756667,...,0.526667,0.520000,0.716667,0.706667,0.673333,-247.5775,0.85,-0.47,-0.63,0.60

In [67]:
x_test.head()

,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,Per9,Dem1,...,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,geo_score,instance_scores,qsets_normalized_tat,lambda_wt
227845,-0.300000,1.540000,0.220000,-0.280000,0.570000,0.260000,0.700000,1.076667,0.930000,0.156667,...,0.813333,0.776667,0.796667,0.823333,0.783333,-249.7500,0.25,-0.04,-0.43,0.76
227846,0.633333,0.953333,0.810000,0.466667,0.910000,0.253333,1.040000,0.550000,0.543333,0.433333,...,0.703333,0.806667,0.630000,0.673333,0.673333,-249.8125,0.43,-0.77,-0.62,0.18
227847,1.043333,0.740000,0.860000,1.006667,0.583333,0.616667,0.630000,0.686667,0.593333,1.250000,...,0.753333,0.870000,0.596667,0.680000,0.670000,-248.1200,1.32,0.11,-0.41,0.39
227848,1.283333,0.300000,0.576667,0.636667,0.256667,0.543333,0.356667,0.663333,1.156667,1.186667,...,0.606667,0.456667,0.320000,0.676667,0.660000,-222.9875,-2.11,0.33,0.37,1.80
227849,1.186667,0.326667,0.476667,0.866667,0.436667,0.680000,0.476667,0.686667,1.476667,1.213333,...,0.896667,0.566667,0.546667,0.650000,0.663333,-196.2200,-2.11,-0.37,-0.13,1.89

In [68]:
x_train.describe()

,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,Per9,Dem1,...,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,geo_score,instance_scores,qsets_normalized_tat,lambda_wt
count,227845.000000,227845.000000,227845.000000,227845.000000,227845.000000,227845.000000,227845.000000,227845.000000,227845.000000,227845.000000,...,227845.000000,227845.000000,227845.000000,227845.000000,227845.000000,227845.000000,227845.000000,227845.000000,227845.000000,227845.000000
mean,0.666006,0.667701,0.666315,0.666687,0.666723,0.667378,0.666934,0.666279,0.666688,0.666576,...,0.666264,0.666755,0.666878,0.666566,0.666776,-227.954170,-0.000135,-0.000123,-0.000103,0.000350
std,0.654133,0.548305,0.506357,0.471956,0.461393,0.444573,0.415657,0.401546,0.366537,0.340436,...,0.202204,0.174204,0.160803,0.135762,0.111612,61.951661,0.997518,1.091488,0.850163,0.957957
min,-18.136667,-23.573333,-15.443333,-1.226667,-37.246667,-8.053333,-13.853333,-23.740000,-3.810000,-0.893333,...,-0.280000,-2.766667,-0.080000,-6.856667,-4.476667,-250.000000,-18.680000,-24.590000,-25.160000,-19.210000
25%,0.360000,0.470000,0.370000,0.383333,0.436667,0.410000,0.483333,0.596667,0.453333,0.413333,...,0.546667,0.560000,0.556667,0.643333,0.650000,-248.617500,-0.410000,-0.540000,-0.480000,-0.430000
50%,0.670000,0.690000,0.726667,0.660000,0.650000,0.576667,0.680000,0.673333,0.650000,0.656667,...,0.680000,0.673333,0.650000,0.666667,0.670000,-244.510000,0.140000,-0.090000,-0.070000,0.050000
75%,1.103333,0.933333,1.010000,0.913333,0.870000,0.800000,0.856667,0.776667,0.866667,0.913333,...,0.813333,0.783333,0.746667,0.696667,0.693333,-230.750000,0.620000,0.450000,0.400000,0.490000
max,1.483333,8.020000,3.793333,6.163333,12.266667,25.100000,40.863333,7.336667,5.863333,4.673333,...,2.193333,3.173333,1.840000,11.203333,11.950000,6172.790000,7.850000,23.750000,8.540000,10.530000

In [69]:
# please check preprocessing steps if required
# imbalance dataset
y_train.value_counts()

0.0    227451
1.0       394
Name: Target, dtype: int64

In [70]:
y_train.value_counts()/len(y_train)*100

0.0    99.827075
1.0     0.172925
Name: Target, dtype: float64

In [71]:
# handling imbalance dtaset

In [72]:
import imblearn

In [73]:
from imblearn.over_sampling import RandomOverSampler
over = RandomOverSampler()
x_train_over, y_train_over = over.fit_resample(x_train, y_train)

In [74]:
print(y_train.value_counts())
print(y_train_over.value_counts())

0.0    227451
1.0       394
Name: Target, dtype: int64
0.0    227451
1.0    227451
Name: Target, dtype: int64

In [75]:
# feature scaling is required
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc_x_train = sc.fit_transform(x_train_over)
sc_x_test = sc.fit_transform(x_test)

In [76]:
x_train1 = pd.DataFrame(sc_x_train)
x_test1 = pd.DataFrame(sc_x_test)

In [77]:
# split the data into training and test again for building the model and prediction
from sklearn.model_selection import train_test_split
x_train2, x_test2, y_train2, y_test2 = train_test_split(x_train1, y_train_over, test_size=0.2, random_state=101)

# Model Building

# Stacking Model

In [78]:
# !pip install mlxtend

In [79]:
from mlxtend.classifier import StackingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [81]:
clf1 = RandomForestClassifier()
clf3 = GaussianNB()
clf4 = LogisticRegression()
clf5 = DecisionTreeClassifier()
sclf = StackingClassifier(classifiers = [clf1, clf2, clf3, clf5], meta_classifier=clf4)
print('2-fold cross validation : \n')

for clf, label in zip([clf1, clf3, clf5, sclf], ['RandomForest','NaiveBayes','DecisionTree','StackingClassifier']):
    
    scores=cross_val_score(clf, x_train2, y_train2, cv=2, scoring='accuracy')
    print("Accuracy: %0.2f (+/-%0.2f) [%s]" %(scores.mean(), scores.std(), label))

2-fold cross validation :

Accuracy: 1.00 (+/-0.00) [RandomForest]
Accuracy: 0.91 (+/-0.00) [NaiveBayes]
Accuracy: 1.00 (+/-0.00) [DecisionTree]

C:\Users\MANEE\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:237: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\MANEE\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:237: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\MANEE\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:237: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\MANEE\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:237: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

Accuracy: 1.00 (+/-0.00) [StackingClassifier]

In [82]:
from sklearn.ensemble import RandomForestClassifier
RFC = RandomForestClassifier()
RFC.fit(x_train2,y_train2)

RandomForestClassifier()

In [83]:
# Predict 
y_pred_RFC_train = RFC.predict(x_train2)
y_pred_RFC_test = RFC.predict(x_test2)

In [84]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [85]:
print(confusion_matrix(y_train2, y_pred_RFC_train))
print("#############"*9)
print(confusion_matrix(y_test2, y_pred_RFC_test))

[[182011      0]
 [     0 181910]]
#####################################################################################################################
[[45435     5]
 [    0 45541]]

In [86]:
print(classification_report(y_train2, y_pred_RFC_train))
print("#############"*9)
print(classification_report(y_test2, y_pred_RFC_test))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00    182011
         1.0       1.00      1.00      1.00    181910

    accuracy                           1.00    363921
   macro avg       1.00      1.00      1.00    363921
weighted avg       1.00      1.00      1.00    363921

#####################################################################################################################
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00     45440
         1.0       1.00      1.00      1.00     45541

    accuracy                           1.00     90981
   macro avg       1.00      1.00      1.00     90981
weighted avg       1.00      1.00      1.00     90981

In [87]:
print(accuracy_score(y_train2, y_pred_RFC_train))
print("#############"*9)
print(accuracy_score(y_test2, y_pred_RFC_test))

1.0
#####################################################################################################################
0.9999450434706147

In [93]:
from sklearn.naive_bayes import GaussianNB
GNB = GaussianNB()
GNB.fit(x_train2,y_train2)

GaussianNB()

In [94]:
# Predict 
y_pred_GNB_train = GNB.predict(x_train2)
y_pred_GNB_test = GNB.predict(x_test2)

In [95]:
print(confusion_matrix(y_train2, y_pred_GNB_train))
print("#############"*9)
print(confusion_matrix(y_test2, y_pred_GNB_test))

[[177331   4680]
 [ 27442 154468]]
#####################################################################################################################
[[44273  1167]
 [ 6814 38727]]

In [96]:
print(classification_report(y_train2, y_pred_GNB_train))
print("#############"*9)
print(classification_report(y_test2, y_pred_GNB_test))

              precision    recall  f1-score   support

         0.0       0.87      0.97      0.92    182011
         1.0       0.97      0.85      0.91    181910

    accuracy                           0.91    363921
   macro avg       0.92      0.91      0.91    363921
weighted avg       0.92      0.91      0.91    363921

#####################################################################################################################
              precision    recall  f1-score   support

         0.0       0.87      0.97      0.92     45440
         1.0       0.97      0.85      0.91     45541

    accuracy                           0.91     90981
   macro avg       0.92      0.91      0.91     90981
weighted avg       0.92      0.91      0.91     90981

In [97]:
print(accuracy_score(y_train2, y_pred_GNB_train))
print("#############"*9)
print(accuracy_score(y_test2, y_pred_GNB_test))

0.9117335905320111
#####################################################################################################################
0.9122783877952539

In [98]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(x_train2,y_train2)

C:\Users\MANEE\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [99]:
# Predict 
y_pred_LR_train = LR.predict(x_train2)
y_pred_LR_test = LR.predict(x_test2)

In [100]:
print(confusion_matrix(y_train2, y_pred_LR_train))
print("#############"*9)
print(confusion_matrix(y_test2, y_pred_LR_test))

[[177442   4569]
 [ 16280 165630]]
#####################################################################################################################
[[44287  1153]
 [ 4046 41495]]

In [101]:
print(classification_report(y_train2, y_pred_LR_train))
print("#############"*9)
print(classification_report(y_test2, y_pred_LR_test))

              precision    recall  f1-score   support

         0.0       0.92      0.97      0.94    182011
         1.0       0.97      0.91      0.94    181910

    accuracy                           0.94    363921
   macro avg       0.94      0.94      0.94    363921
weighted avg       0.94      0.94      0.94    363921

#####################################################################################################################
              precision    recall  f1-score   support

         0.0       0.92      0.97      0.94     45440
         1.0       0.97      0.91      0.94     45541

    accuracy                           0.94     90981
   macro avg       0.94      0.94      0.94     90981
weighted avg       0.94      0.94      0.94     90981

In [102]:
print(accuracy_score(y_train2, y_pred_LR_train))
print("#############"*9)
print(accuracy_score(y_test2, y_pred_LR_test))

0.9427100936741766
#####################################################################################################################
0.9428562007452106

In [103]:
from sklearn.tree import DecisionTreeClassifier
DTC = DecisionTreeClassifier()
DTC.fit(x_train2,y_train2)

DecisionTreeClassifier()

In [104]:
# Predict 
y_pred_DTC_train = DTC.predict(x_train2)
y_pred_DTC_test = DTC.predict(x_test2)

In [105]:
print(confusion_matrix(y_train2, y_pred_DTC_train))
print("#############"*9)
print(confusion_matrix(y_test2, y_pred_DTC_test))

[[182011      0]
 [     0 181910]]
#####################################################################################################################
[[45412    28]
 [    0 45541]]

In [106]:
print(classification_report(y_train2, y_pred_DTC_train))
print("#############"*9)
print(classification_report(y_test2, y_pred_DTC_test))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00    182011
         1.0       1.00      1.00      1.00    181910

    accuracy                           1.00    363921
   macro avg       1.00      1.00      1.00    363921
weighted avg       1.00      1.00      1.00    363921

#####################################################################################################################
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00     45440
         1.0       1.00      1.00      1.00     45541

    accuracy                           1.00     90981
   macro avg       1.00      1.00      1.00     90981
weighted avg       1.00      1.00      1.00     90981

In [107]:
print(accuracy_score(y_train2, y_pred_DTC_train))
print("#############"*9)
print(accuracy_score(y_test2, y_pred_DTC_test))

1.0
#####################################################################################################################
0.9996922434354426

In [ ]:
# Random forest classifier wins the accuracy
# Training - 1.0
#####################################################################################################################
# Test - 0.9999450434706147

In [108]:
print(y_train.value_counts())

0.0    227451
1.0       394
Name: Target, dtype: int64

In [109]:
outlier_fraction = 394/ (394+227451)
outlier_fraction

0.001729245759178389